[submodule "Vantor/External/Switch/switch-glad"]
	path = Vantor/External/Switch/switch-glad
	url = https://github.com/VantorStudio/switch-glad.git
[submodule "Vantor/External/Shared/VGLSL"]
	path = Vantor/External/Shared/VGLSL
	url = https://github.com/LukasRennhofer/VGLSL
